@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@500&family=Source+Sans+Pro:wght@200&display=swap');

*{
	margin: 0px;
	padding: 0px;
}
img,p,a,strong{
	display: inline-block;
}
#flag{
	width: 20px;
	height: 15px;
}
#down_icon{
	width: 10px;
	height: 10px;
}
#top_nav{
	height: 25px;
	width: 100%;
}
html {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
}
.row{
	background-color: #F1F1F1;
}
body{
	font-size: 14px;
}
a{
	cursor: pointer;
	font-size: 12px;
}
.img2{
	width: 40px;
	height: 40px;
}
